/** @component : footer component */
footer {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 50px;

  .heart {
    background-color: red;
    display: inline-block;
    height: 5px;
    margin: 0 5px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: 5px;
    &:before,
    &:after {
      content: "";
      background-color: red;
      border-radius: 50%;
      height: 5px;
      position: absolute;
      width: 5px;
    }
    &:before {
      top: -4px;
      left: 0;
    }
    &:after {
      top: 0;
      left: 4px;
    }
  }
}